# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
node_modules/
.next/
out/
build/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Database / MQTT Data
timescale_data/
mosquitto/data/
mosquitto/log/
*.log
